<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>我的知识库</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="assets/codemirror/codemirror.css" />
    <link rel="stylesheet" href="assets/purecss/pure.min.css" />
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/default.min.css">
    <link rel="stylesheet" href="assets/style.css" />
  </head>
  <body>
    <div id="app">
      <p class="hidden">
        {{ message }} 
      </p>

      <div class="navs">
        <div class="left">
          <el-select v-model="filter" placeholder="请选择" size="small">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
          <el-button type="primary" size="small" @click="handleFilter">Filter</el-button>
        </div>
        <el-button type="success" size="small"><router-link to="/edit">新建</router-link></el-button>
      </div>

      <router-view></router-view>
    </div>
  </body>
  <script src="https://unpkg.com/vue@2.6.12/dist/vue.min.js"></script>
  <script src="https://unpkg.com/vue-router@3.4.3/dist/vue-router.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script type="text/javascript" src="assets/codemirror/codemirror.js"></script>
  <script type="text/javascript">
    const hljs = require('highlight.js');
    Vue.use(hljs.vuePlugin);
  </script>
  <script type="text/javascript" src="renderer.js"></script>
</html>
